.AddRecipientModal-form-input {
    display: flex;
    flex-direction: column;
    position: relative;

    input.RecipientsInput {
        margin: 0 1em;
        width: auto !important;
    }

    ul.Search-results.fade:not(.in) {
        display: none;
    }
}

.AddRecipientModal-form-submit {
    margin-top: 1em;

    .Button--cancel.hasIcon {
        .Button-icon {
            @media (min-width: 768px) {
                display: none;
            }
        }
    }
}

.Button--cancel {
    margin-left: 15px;
}
