
.MessageList {
    .Message-empty {
        i.fa, span {
            display: block;
            text-align: center;
            margin: 0 auto;
        }
    }
}

.RecipientSelectModal {
    .Modal-body .Search {
        padding: 0 .1em;
        .FormControl {
            width: 100% !important;
        }
        .Search-results {
            position: relative;
            width: 100%;
        }
        &.focused {
            margin-left: 0px !important;
        }
    }

}
